/* userProfile.css */
.user-bookings {
    width: 600px; /* Limiting the width for better readability */
    margin: 98px auto; /* Centering the bookings container */
    padding: 20px;
    background-color: #f9f9f9; /* A light background to differentiate the section */
    border-radius: 8px; /* Softening the edges */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow for depth */
}

.user-bookings h2 {
    color: #333; /* Dark color for contrast */
    margin-bottom: 16px; /* Spacing below the title */
}

.user-bookings ul {
    list-style: none; /* Removing default list styling */
    padding: 0;
    margin: 0;
}

.user-bookings li {
    background-color: #fff; /* White background for list items */
    margin-bottom: 10px; /* Spacing between list items */
    padding: 10px;
    border: 1px solid #ddd; /* A subtle border */
    border-radius: 4px; /* Slightly rounded corners for the list items */
}

.user-bookings li:last-child {
    margin-bottom: 0; /* Removing the margin from the last item */
}
