.view-img {
    position: relative;
    width: 1478px;
    height: 400px;
    background-size: cover;
    background-position: center;
    transition: 0.3s ease;
}

.view-info {
    text-align: center;
    margin: 20px 0;
}

.view-title {
    font-size: 40px;
    margin-bottom: 10px;
    margin-right: 70%;
    width: 100%;
}


.tour-content {
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin-right: 10%;
}

.tour-details, .tour-booking-form {
    flex: 1;
    margin: 10px;
}
.tourview-main{
    background-color: white;
}