.user-bookings {
    width: 600px;
    margin: 98px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-bookings h2 {
    color: #333;
    margin-bottom: 16px;
}

.user-bookings ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-bookings li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.user-bookings li:last-child {
    margin-bottom: 0;
}
