.footer h3 {
    margin-top: 0;
    color: #fff;
}

.footer p {
    color: #bbb;
    margin-bottom: 20px;
}

.footer-link {
    display: inline-block;
    margin-bottom: 20px;
}

.footer-link a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-link a:hover {
    color: #4db8ff;
}

.footer-date {
    color: #bbb;
    font-size: small;
}

footer {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1478px;
    box-sizing: border-box;
}
