.userProfileContainer {
    margin-top: 6.8%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.profile-part {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-picture {
    width: 60px;
    height: 60px;
    background-color: #007bff;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 24px;
    margin-right: 20px;
}

.profile-info div {
    margin-bottom: 10px;
}

.profile-info strong {
    color: #333333;
}

.profile-info p {
    color: #888888;
}
