.tab_wrapper {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    width: 800px;
    margin-bottom: 5%;
    box-shadow: 0 4px 7px rgba(0,0,0,0.1);

}

.clear {
    clear: both;
}

.single_tour_attribute_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.one_fourth {
    flex-basis: calc(25% - 10px);
    text-align: center;
    margin-bottom: 20px;
}

.tour_attribute_icon {
    margin-bottom: 5px;
    display: inline-block;
    font-size: 30px;
    color: #333;
}

.tour_attribute_content {
    font-size: 14px;
    color: #333;
}

.wp-caption {
    text-align: center;
    margin-bottom: 20px;
}

.wp-image-48 {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-right: 27%;
}

.p1 {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

.single_tour_departure_wrapper {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.single_tour_departure {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.single_tour_departure_content {
    width: 100%;
}

.departure_item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 10px;
}

.departure_item span {
    margin-right: 20px;
    font-weight: bold;
}

.attribute {
    display: flex;
    align-items: center;
}

.attribute svg {
    font-size: 20px;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .one_fourth {
        flex-basis: 100%;
    }

    .single_tour_departure_content {
        flex-direction: column;
    }
}
.wrapper-box {
    width: 350px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: white;
    margin-top: 30px;
    margin-left: 25%;
}

.comment-title h3 {
    margin-left: 5%;
    color: #333;
    text-align: center;
}

hr {
    border: black;
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
}

.overall-rating-box {
    /*margin: 20px 0;*/
    box-shadow: black;
    background-color: white;
}

.star {
    color: #ccc;
    font-size: 24px;
    margin: 0 5px;
}

.star.filled {
    color: #ffc107;
}

.star:hover,
.star:hover ~ .star.filled {
    color: #ffeb3b;
    cursor: pointer;
}

.star {
    transition: color 0.2s ease-in-out;
}
